/* Write your CSS here */

.course-title-duration-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .course-title-duration-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

.duration-container {
  display: flex;
  align-items: center;
}

.duration {
  margin-left: 5px;
}

.course-title {
  color: #171f46;
  font-family: 'Roboto';
  font-size: 24px;
  font-weight: 700;
  line-height: 1.3;
  margin: 0px;
}

.course-description {
  color: #1e293b;
  font-family: 'Roboto';
  font-size: 16px;
  line-height: 1.5;
  margin-top: 0px;
}

.course-taglist {
  list-style-type: none;
  padding-left: 0px;
  display: flex;
  flex-wrap: wrap;
}

.course-tag {
  color: #25262c;
  background-color: #e2e8f0;
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 600;
  border-radius: 4px;
  line-height: 1.6;
  padding: 4px 8px;
  margin: 0px;
  margin-bottom: 8px;
  margin-right: 8px;
}
